auto-save-list/
eln-cache/
elpa/
emacs-backup/
history
transient/
tree-sitter/
.cache/
url/

\#init.el#
.#init.el

bookmarks

*.elc
/.org-id-locations
/tramp-persistency
/.lsp*

org-roam.db

projects


